.Rproj.user
.Rhistory
.RData
.Ruserdata
8_ACTTGA_L001_R1_001-bsmap_out_jelly1k.sam
.DS_Store
data/*
data_05/*
data_06/*
bam/*
data_1102/*
.DS_Store
data_21/combined.CpG_report.merged_CpG_evidence.cov.txt
